h1{
  font-family: Lobster;
}

body{
  font-family: Lobster;
}
.pageOne{
  background:url("http://l7.alamy.com/zooms/5084919199c3403f86a45009ad077f84/kenya-mombasa-a82kge.jpg");
  background-size:cover;
  height:800px;
  margin-top: 0.0%;
  }

form{
  background:white;
  background-size:cover;
  height:800px;
  margin-top: 0.0%;
  }

.nav-pills{
  display: block;
  width: 100%;
  font-size:2.5em;
  opacity:5.5;
  font-family: Lobster;
}

/*h1{
  padding:0px;
  margin-top:0px;
  font-size:5.0em;
}*/

.smaller-image{
    width: 100px;
    height: 0%;
}
.center {
    /*margin: auto;*/
    border: 3px solid black;
    /*padding: 10px;*/
    text-align: center;
}
.larger-image{
    width: 200px;
    
}
.active {
    /*background-color: red;*/
    color: white;
}


ul {
    border: 10px solid #555;
}

.family{
  size: 5px;
  text-align: center;
}

